//Copyright (C)2014-2025 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.12 (64-bit)
//Part Number: GW5A-LV25MG121NC1/I0
//Device: GW5A-25
//Device Version: A
//Created Time: Sun 12 07 14:27:52 2025

IO_LOC "CKP" G10;
IO_PORT "CKP" IO_TYPE=LVDS25 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "D0P" D10;
IO_PORT "D0P" IO_TYPE=LVDS25 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "D1P" B10;
IO_PORT "D1P" IO_TYPE=LVDS25 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "D2P" C10;
IO_PORT "D2P" IO_TYPE=LVDS25 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "CKN" G11;
IO_PORT "CKN" IO_TYPE=LVDS25 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "D0N" D11;
IO_PORT "D0N" IO_TYPE=LVDS25 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "D1N" B11;
IO_PORT "D1N" IO_TYPE=LVDS25 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "D2N" C11;
IO_PORT "D2N" IO_TYPE=LVDS25 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "SDA" A10;
IO_PORT "SDA" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "SCL" E10;
IO_PORT "SCL" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "L_NMI_N" L11;
IO_PORT "L_NMI_N" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "L_M1_N" K5;
IO_PORT "L_M1_N" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "LWR_N" G5;
IO_PORT "LWR_N" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "LBUSREQ_N" G8;
IO_PORT "LBUSREQ_N" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "LINT_N" H7;
IO_PORT "LINT_N" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "LCLOCK" J5;
IO_PORT "LCLOCK" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "DEV1" K8;
IO_PORT "DEV1" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "DEV2" F6;
IO_PORT "DEV2" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "CTS_N" J10;
IO_PORT "CTS_N" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "EA13" E3;
IO_PORT "EA13" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "EA14" J1;
IO_PORT "EA14" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "LRAMEN2_N" G4;
IO_PORT "LRAMEN2_N" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "EA15" H1;
IO_PORT "EA15" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "EA16" K7;
IO_PORT "EA16" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "EA17" L7;
IO_PORT "EA17" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "EA18" L10;
IO_PORT "EA18" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "EA19" L9;
IO_PORT "EA19" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "LRAMEN3_N" J8;
IO_PORT "LRAMEN3_N" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "LA8" K2;
IO_PORT "LA8" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "LA9" L1;
IO_PORT "LA9" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "LA10" K4;
IO_PORT "LA10" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "LA11" G1;
IO_PORT "LA11" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "LA12" L3;
IO_PORT "LA12" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "LA13" C2;
IO_PORT "LA13" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "LA14" F1;
IO_PORT "LA14" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "LA15" A1;
IO_PORT "LA15" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "LD7" D1;
IO_PORT "LD7" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "LD6" J2;
IO_PORT "LD6" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "LD5" H4;
IO_PORT "LD5" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "LD4" H2;
IO_PORT "LD4" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "LD3" J7;
IO_PORT "LD3" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "LD2" L8;
IO_PORT "LD2" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "LD1" K10;
IO_PORT "LD1" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "LD0" K9;
IO_PORT "LD0" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "LA7" K1;
IO_PORT "LA7" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "LA6" L2;
IO_PORT "LA6" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "LA5" J4;
IO_PORT "LA5" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "LA4" G2;
IO_PORT "LA4" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "LA3" L4;
IO_PORT "LA3" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "LA2" B2;
IO_PORT "LA2" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "LA1" F2;
IO_PORT "LA1" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "LA0" E1;
IO_PORT "LA0" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "L_MREQ_N" A11;
IO_PORT "L_MREQ_N" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "L_IORQ_N" E11;
IO_PORT "L_IORQ_N" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "L_RD_N" K11;
IO_PORT "L_RD_N" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "LWR_CPU_N" L5;
IO_PORT "LWR_CPU_N" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "LRESET_N" G7;
IO_PORT "LRESET_N" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "CLK_IN" E2;
IO_PORT "CLK_IN" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "RXD" F7;
IO_PORT "RXD" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "TXD" J11;
IO_PORT "TXD" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "LKB_DATA" H5;
IO_PORT "LKB_DATA" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "LKB_CLOCK" H8;
IO_PORT "LKB_CLOCK" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "LBUSACK_N" F5;
IO_PORT "LBUSACK_N" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
